# Переменные окружения для приложения
ENV=development
DATABASE_URL=postgresql://user:password@host:port/dbname

# MinIO
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=taskflow-files
MINIO_SECURE=False

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=taskflow
KEYCLOAK_CLIENT_ID=taskflow-api
KEYCLOAK_CLIENT_SECRET=your-client-secret